//Colores App
$color1: #741ec5;
$color2: #8b39d8;
$color3: #b66ff8;

#btn_theme {
    cursor: pointer;
}

#container_name {
    width: 400px;
}

.navbar > .col > a:hover {
    color: $color1;
}

.fil_check_select {
    width: 1.2em;
    height: 1.2em;
}

.form-check-input:checked {
    background-color: $color2;
    border-color: $color3;
}

#form_task input{//Evitar el gris en el formulario al pasar a dark
    color: black;
}